div {
    width: 100%;
    height: 400px;
    background-image: url(http://www.planwallpaper.com/static/images/i-should-buy-a-boat.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  
}

