body {
    background-image: url("http://pic.1fotonin.com/data/wallpapers/39/WDF_858242.jpg");
    background-repeat:no-repeat;
html { 
  background: url("http://pic.1fotonin.com/data/wallpapers/39/WDF_858242.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
