body {
    background-image: url("http://pic.1fotonin.com/data/wallpapers/39/WDF_858242.jpg");
    background-repeat:no-repeat;
}
#bg {
  position: fixed; 
  top: 25; 
  left: 25; 
	
  /* Preserve aspet ratio */
  min-width: 150%;
  min-height: 150%;
}
